
<h1>test</h1>


<select #c1  id="country1" (mouseleave)="changeBase(c1.value)">
  <option value="USD">USD</option>
  <option value="EUR">EUR</option>
  <option value="GBP">GBP</option>
</select>

<select #c2 id="country2" (mouseleave)="tocountry(c2.value)">
  <option value="USD">USD</option>
  <option value="EUR">EUR</option>
  <option value="GBP">GBP</option>

</select>
<button (click)="convert()">Convert</button>

<p>1 {{base}} = {{result}} {{cont2}} </p>



<div style="display: flex">
  <div>
    <h3>Get Countries</h3>
      <select #c3 id="country2">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
      </select>
      <button (click)="getCountries(c3.value)">Get Countries with this currency</button>


      <ul *ngFor="let country of countries">
        <li>{{country}}</li>
      </ul>
  </div>
  <div>
    <h3>Get Currencies</h3>
    <select #c4>
      <option value="portugal">Portugal</option>
      <option value="peru">Peru</option>
      <option value="united">United</option>
    </select>
    <button (click)="getCurrencies(c4.value)">Get Currencies in this country</button>


    <ul *ngFor="let currency of currencies">
      <li>{{currency}}</li>
    </ul>
  </div>
</div>



